<h2>OidcController#callback</h2>
<pre>
<%= @id_token.inspect %>
</pre>
<br />
<pre>
<%= @decoded_id_token.inspect %>
</pre>
<br />
<pre>
<%= @refresh_token %>
</pre>
<br />
<pre>
<%= @access_token %>
</pre>
<br />
<pre>
<%= @params %>
</pre>
