<%
  oidc_settings =  RedmineOidc.settings
  oidc_settings.validate
%>
<p>
  <%= label_tag 'settings[enabled]', l('oidc.settings.enabled') %>
  <%= check_box_tag 'settings[enabled]', 1, oidc_settings.enabled %>
</p>
<p>
  <%= label_tag 'settings[issuer_url]', l('oidc.settings.issuer_url') %>
  <%= text_field_tag 'settings[issuer_url]', oidc_settings.issuer_url, size: 60, placeholder: l('oidc.settings.issuer_url_placeholder') %>
</p>
<p>
  <%= label_tag 'settings[client_id]', l('oidc.settings.client_id') %>
  <%= text_field_tag 'settings[client_id]', oidc_settings.client_id, size: 60, placeholder: l('oidc.settings.client_id_placeholder') %>
</p>
<p>
  <%= label_tag 'settings[client_secret]', l('oidc.settings.client_secret') %>
  <%= password_field_tag 'settings[client_secret]', oidc_settings.client_secret, size: 60, placeholder: l('oidc.settings.client_secret_placeholder') %>
</p>
<p>
  <%= label_tag 'settings[scope]', l('oidc.settings.scope') %>
  <%= text_field_tag 'settings[scope]', oidc_settings.scope, size: 60, placeholder: l('oidc.settings.scope_placeholder') %>
</p>
<p>
  <%= label_tag 'settings[unique_id_claim]', l('oidc.settings.unique_id_claim') %>
  <%= text_field_tag 'settings[unique_id_claim]', oidc_settings.unique_id_claim, size: 60, placeholder: l('oidc.settings.unique_id_claim_placeholder') %>
</p>
<p>
  <%= label_tag 'settings[roles_claim]', l('oidc.settings.roles_claim') %>
  <%= text_field_tag 'settings[roles_claim]', oidc_settings.roles_claim, size: 60, placeholder: l('oidc.settings.roles_claim_placeholder') %>
</p>
<p>
  <%= label_tag 'settings[access_roles]', l('oidc.settings.access_roles') %>
  <%= text_field_tag 'settings[access_roles]', oidc_settings.access_roles, size: 60 %>
</p>
<p>
  <%= label_tag 'settings[admin_role]', l('oidc.settings.admin_role') %>
  <%= text_field_tag 'settings[admin_role]', oidc_settings.admin_role, size: 60 %>
</p>
<p>
  <%= label_tag 'settings[session_check_enabled]', l('oidc.settings.session_check_enabled') %>
  <%= check_box_tag 'settings[session_check_enabled]', 1, oidc_settings.session_check_enabled %>
  BETA
</p>
<p>
  <%= label_tag 'settings[session_check_users_csv]', l('oidc.settings.session_check_users_csv') %>
  <%= text_field_tag 'settings[session_check_users_csv]', oidc_settings.session_check_users_csv, size: 60, placeholder: 'emusterfrau,jdoe' %>
  BETA
</p>
<%= error_messages_for oidc_settings %>
